In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer

In [10]:
a = np.array([1, np.nan, np.nan, 3])
b = np.array([np.nan, 2, 4, np.nan])
c = np.array([5, 6, 7, 8])

In [11]:
data = {'Col1': a, 'Col2': b, 'Col3': c}
df = pd.DataFrame.from_dict(data)
df

   Col1  Col2  Col3
0   1.0   NaN     5
1   NaN   2.0     6
2   NaN   4.0     7
3   3.0   NaN     8

In [13]:
my = SimpleImputer()
a1 = my.fit_transform(df)
a1

array([[1., 3., 5.],
       [2., 2., 6.],
       [2., 4., 7.],
       [3., 3., 8.]])

In [14]:
a2 = my.transform(df)
a2

array([[1., 3., 5.],
       [2., 2., 6.],
       [2., 4., 7.],
       [3., 3., 8.]])